&adc0 { status = "okay"; };
&uart14 { status = "okay"; current-speed = <115200>; };

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 DT_SIZE_K(64)>;
        };
        cpumeter_partition: partition@1A0000 {
            label = "image-0";
            reg = <0x001A0000 DT_SIZE_K(128)>;
        };
        slot1_partition: partition@110000 {
            label = "image-1";
            reg = <0x00110000 DT_SIZE_M(1)>;
        };
        scratch_partition: partition@210000 {
            label = "image-scratch";
            reg = <0x00210000 DT_SIZE_K(64)>;
        };
        storage_partition: partition@220000 {
            label = "storage";
            reg = <0x00220000 DT_SIZE_K(128)>;
        };
    };
};

/ {
    aliases {
        app-adc = &adc0;
        app-uart = &uart14;
    };

    chosen {
        zephyr,code-partition = &cpumeter_partition;
        zephyr,ipc_shm = &ipc_shm_0;
    };

    ipc0: ipc0 {
        compatible = "zephyr,ipc-icmsg";
        tx-region = <&ipc_shm_0>;
        rx-region = <&ipc_shm_1>;
        mboxes = <&mbox 0>, <&mbox 1>;
        mbox-names = "rx", "tx";
        status = "okay";
    };
};
