&gpioa { status = "okay"; };
&gpiob { status = "okay"; };

&uart0 {
    status = "okay";
    current-speed = <115200>;
    
    modem0: modem0 {
        compatible = "quectel,bg9x";
        mdm-power-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
        mdm-reset-gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&uart14 { 
    status = "okay"; 
    current-speed = <115200>; 
    modbus0: modbus0 {
        compatible = "vango,v32f20x-modbus", "zephyr,modbus-serial";
        status = "okay";
    };
};

&flash0 {
    status = "okay";
    partitions {
        /delete-node/ partition@50000;
        /delete-node/ partition@b0000;
        /delete-node/ partition@f0000;
        /delete-node/ partition@150000;
        /delete-node/ partition@160000;

        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 DT_SIZE_K(64)>;
        };
        slot0_partition: partition@10000 {
            label = "image-0";
            reg = <0x00010000 DT_SIZE_M(1)>;
        };
        slot1_partition: partition@110000 {
            label = "image-1";
            reg = <0x00110000 DT_SIZE_M(1)>;
        };
        scratch_partition: partition@210000 {
            label = "image-scratch";
            reg = <0x00210000 DT_SIZE_K(64)>;
        };
        storage_partition: partition@220000 {
            label = "storage";
            reg = <0x00220000 DT_SIZE_K(128)>;
        };
    };
};

/ {
    aliases {
        app-uart = &uart14;
        app-modbus = &modbus0;
        app-modem = &modem0;
    };

    chosen {
        zephyr,code-partition = &slot0_partition;
        zephyr,ipc_shm = &ipc_shm_0;
    };



    ipc0: ipc0 {
        compatible = "zephyr,ipc-icmsg";
        tx-region = <&ipc_shm_1>;
        rx-region = <&ipc_shm_0>;
        mboxes = <&mbox 1>, <&mbox 0>;
        mbox-names = "rx", "tx";
        status = "okay";
    };
};
