/ {
    chosen {
        /* 使用我们新修复的 UART0 进行控制台输出 */
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
    /* 使用我们刚补全的 100+ 个宏中的 UART0 专用宏 */
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            /* 现在的宏定义已经是标准的 VANGO_PINMUX 编码了 */
            pinmux = <V85XXP_PIN_UART0_TX>, <V85XXP_PIN_UART0_RX>;
        };
    };
};