# Copyright (c) 2024 Vango Technologies
# SPDX-License-Identifier: Apache-2.0

menuconfig ADC_AD7616
    bool "Analog Devices AD7616 ADC driver"
    default y
    depends on DT_HAS_ANALOG_DEVICES_AD7616_ENABLED
    select SPI
    help
      Enable driver for Analog Devices AD7616 16-bit, 16-channel DAS with
      dual simultaneous sampling ADC.
